nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #6898b8;
    gap: 10px; 
}

#question2 {
    background-color: #6898b8;
}
#question3 {
    background-color: #6898b8;
}

ol li{
    list-style: none;
}

.btn-nav {
    display: inline-block;
    background-color: #60606b9c;
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    border-radius: 16px;
}

.btn-nav:hover {
    background-color: #8d5f5f;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #808f9e;
}

header {
  min-height: 60px;
  background: #6898b8;
}

#footer {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center; 
    min-height: 50px;
    background-color: #6898b8;
    padding: 0 20px;
    gap: 10px; 
}
#footer-left {
    color: white;
    justify-self: start;
    align-self: center;
    margin: 0;
    line-height: normal;
}

#footer-btn {
    padding: 5px 10px;
    display: flex;          
    align-items: center;
    justify-content: center;
    justify-self: end;
    border: none;
    border-radius: 5px;
    background-color: #6789ad;
    color: white;
    cursor: pointer;
    border-radius: 16px;
}
#footer-btn:hover {
    background-color: #0056b3;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    
}

#Blue {
    color:#0056b3;
}
#Brown {
    color: #5e3c0a;
}

#Blue, #Brown {
    font-size: 1.1em; /* slightly bigger than normal text */
    font-weight: 500; /* optional: makes it subtly stand out */
}
a {
    cursor: pointer;
    text-decoration: none;
}
a:hover span {
    text-decoration: underline;
}
